.map-wrap {
  width: 30%;
  display: block;

  @include tablet {
    width: 100%;
    height: 300px;
    order: 0;
  }
}

.map {
  width: 100%;
  height: 950px;
  object-fit: cover;

  @include tablet {
    height: 300px;
  }
}