.map-wrap
    <iframe class="map" src="https://yandex.ru/map-widget/v1/?um=constructor%3A7882c371a355db50c7e43dd173a1ab08e1755c14f46663d6997c3293ea3ab1cc&amp;source=constructor" width="644" height="720" frameborder="0"></iframe>