mixin checkbox(text, id)
    input.checkbox(type="checkbox" id=id  name="nda")
    label(for=id)=text

.filter
    .filter__inner
        .filter__item
            span.filter__item-title Даты

        .filter__item
            span.filter__item-title Место
            .filter__item-hidden
                +checkbox('Бирюзовая катунь', 'a8')
                +checkbox('Бирюзовая катунь', 'a2')
                +checkbox('Бирюзовая катунь', 'a3')
                +checkbox('Бирюзовая катунь', 'a4')
                +checkbox('Бирюзовая катунь', 'a5')
                +checkbox('Бирюзовая катунь', 'a6')
                +checkbox('Бирюзовая катунь', 'a7')
                .filter__result-buttons
                    a.filter__reset-button(href="#")
                    a.filter__submit-button.btn(href="#") Применить

        .filter__item
            span.filter__item-title Количество гостей
            .filter__item-hidden
                .main-finder__input-wrap.js-input-wrap
                    span.main-finder__input-heading.no-pad Взрослые
                    input.main-finder__input.main-finder__input_light.js-input(value='1' type='number' data-change='parents')
                    a.main-finder__button.main-finder__button_add.js-input-add
                    a.main-finder__button.main-finder__button_remove.js-input-remove
                .main-finder__input-wrap.js-input-wrap(data-link='parents')
                    span.main-finder__input-heading.no-pad Дети
                    input.main-finder__input.main-finder__input_light.js-input(value='1' type='number' data-change='child')
                    a.main-finder__button.main-finder__button_add.js-input-add
                    a.main-finder__button.main-finder__button_remove.js-input-remove
                .filter__result-buttons
                    a.filter__reset-button(href="#")
                    a.filter__submit-button.btn(href="#") Применить
        .filter__item
            span.filter__item-title Тип объекта
            .filter__item-hidden
                +checkbox('База отдыха', 'b1')
                +checkbox('Гостевой дом', 'b2')
                +checkbox('Гостиница', 'b4')
                .filter__result-buttons
                    a.filter__reset-button(href="#")
                    a.filter__submit-button.btn(href="#") Применить
        .filter__item
            span.filter__item-title Цена
            .filter__item-hidden
                .filter__row
                    .filter__cell.filter__cell_cost
                        |От
                        input.filter__input-cost.js-cost-min(value=1 type='number')
                    .filter__cell.filter__cell_cost
                        | От
                        input.filter__input-cost.js-cost-max(value=1000 type='number')
                .filter__slider-range.js-slider-range-cost
                    .ui-slider-handle.js-cost-min-handle
                        span 1
                    .ui-slider-handle.js-cost-max-handle
                        span.right 1000
                .filter__result-buttons
                    a.filter__reset-button(href="#")
                    a.filter__submit-button.btn(href="#") Применить
        .filter__item
            span.filter__item-title Бронь
            .filter__item-hidden
                .main-finder__input-check
                    input#cb2.tgl(type = "checkbox")
                    label.tgl-btn(for = "cb2")
                        span Моментально
                .filter__result-buttons
                    a.filter__reset-button(href="#")
                    a.filter__submit-button.btn(href="#") Применить
        .filter__item
            span.filter__item-title Метки
            .filter__item-hidden
                p asdasd
        .filter__item
            span.filter__item-title Удобства
            .filter__item-hidden
                .filter__row.filter__row_tags
                    +checkbox('База отдыха', 'b1')
                    +checkbox('Гостевой дом', 'b2')
                    +checkbox('Гостиница', 'b4')
                    +checkbox('База отдыха', 'b1')
                    +checkbox('Гостевой дом', 'b2')
                    +checkbox('Гостиница', 'b4')
                    +checkbox('База отдыха', 'b1')
                    +checkbox('Гостевой дом', 'b2')
                    +checkbox('Гостиница', 'b4')
                    +checkbox('База отдыха', 'b1')
                    +checkbox('Гостевой дом', 'b2')
                    +checkbox('Гостиница', 'b4')
                .filter__result-buttons
                    a.filter__reset-button(href="#")
                    a.filter__submit-button.btn(href="#") Применить
