.filter {
  background: #3066BE;
  padding: 20px 52px;

  @include desktop {
    height: 72px;
  }

  &__inner {
    display: flex;

    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    background: #FFFFFF;
    border: 1px solid #D2D6DC;
    box-sizing: border-box;
    border-radius: 3px;
    height: 33px;
    padding: 6px 16px;
    position: relative;
    white-space: nowrap;

    @include tablet {
      margin: 0 0 8px 0;
      width: 200px;
    }

    & + & {
      margin-left: 8px;

      @include tablet {
        margin: 0 0 8px 0;
      }
    }

    &:hover {
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
      z-index: 2;
      border: 1px solid #fff;

      @include desktop {
        height: 57px;
      }

      .filter__item-title {
        z-index: 4;
      }

      &:after {
        position: absolute;
        left: 1px;
        bottom: 0;
        height: 15px;
        width: calc(100% - 1px);
        background: #fff;
        content: "";
        z-index: 3;
      }

      .filter__item-hidden {
        display: block;
      }
    }
  }

  &__item-title {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #1D3252;
    position: relative;
  }

  &__item-hidden {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 16px;
    background: #fff;
    display: none;
    position: absolute;
    left: -1px;
    top: calc(100% - 4px);
    min-width: 100%;
    z-index: 1;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  input[type=number] {
    -moz-appearance: textfield; /* Firefox */
  }

  &__reset-button {
    border-radius: 3px;
    border: 2px solid #E26D5C;
    background-color: #fff;
    background-image: url("../../../img/clear.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
  }

  &__submit-button {
    height: 32px;
    margin-left: 16px;
  }

  &__result-buttons {
    display: flex;
    padding-top: 8px;
  }

  &__input-cost {
    display: block;
    background: #FFFFFF;
    border: 1px solid #D2D6DC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 16px;
    width: 90px;
    font-size: 20px;
    line-height: 26px;
    color: #1D3252;
    font-weight: 300;
  }

  &__slider-range {
    margin: 24px 2px 40px 10px;
  }

  &__row {
    display: flex;

    &_tags {
      flex-wrap: wrap;
      width: 450px;

      @include tablet {
        width: auto;
      }

      .checkbox + label {
        margin: 4px 4px;
        width: calc(100% / 3 - 8px);

        @include tablet {
          width: auto;
        }
      }
    }
  }

  &__cell {
    & + & {
      padding-left: 16px;
    }
  }

}

.ui-slider-handle {
  display: flex;
  justify-content: center;


  span {
    position: relative;
    display: block;
    top: 14px;
    font-size: 16px;
    line-height: 21px;
    color: #E26D5C;
    font-weight: 100;
    background: #fff;
    box-shadow: 0 0 5px #fff;
    padding: 2px;
    border-radius: 3px;
    height: 20px;
  }

  span.right {
    left: unset;
  }

}

.ui-state-focus {
  z-index: 5;
}

.filter__slider-range.ui-widget.ui-widget-content {
  border: 1px solid #D2D6DC;
}

.filter__slider-range .ui-slider-range.ui-corner-all.ui-widget-header {
  border: 1px solid #E26D5C;
  height: 2px;
}

.tgl {
  display: none;

  &,
  &:after,
  &:before,
  & *,
  & *:after,
  & *:before,
  & + .tgl-btn {
    box-sizing: border-box;

    &::selection {
      background: none;
    }
  }

  + .tgl-btn {
    outline: 0;
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
}

.tgl {
  + .tgl-btn {
    margin: 16px 0;
    padding-left: 83px;
    display: flex;
    align-items: center;

    &:before {
      background: #8F99A9;
      border-radius: 32px;
      transition: all .4s ease;
      border: none;
      height: 40px;
      width: 78px;
      content: "";
      position: absolute;
      left: 0;
    }

    &:after {
      position: absolute;
      content: "";
      left: 5px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: #fbfbfb;
      transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1.275),
      padding .3s ease, margin .3s ease;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .1),
      0 4px 0 rgba(0, 0, 0, .08);
    }

    &:hover:after {
      will-change: padding;
    }
  }

  &:checked + .tgl-btn:before {
    background: #E26D5C;
  }

  &:checked + .tgl-btn:after {
    left: 41px;
  }
}
