form.main-finder
    label.main-finder__part
        img(src='img/main-finder/calendar.svg').main-finder__img
        span Заезд
        input.main-finder__input(placeholder='__.__.____')
    label.main-finder__part
        img(src='img/main-finder/calendar.svg').main-finder__img
        span Выезд
        input.main-finder__input(placeholder='__.__.____')
    label.main-finder__part
        img(src='img/main-finder/users.svg').main-finder__img
        span Персон
        input.main-finder__input(placeholder='__')
    a(href="#").main-finder__btn