extends layouts/main
block variables
	- var title = "Список страниц - Воздух"

block content
	.container
		ul
			li
				a(href='main.html') Главная
			li
				a(href='search.html') Поиск
			li
				a(href='detail.html') Детальная
			li
				a(href='blog.html') Блог