extends ../views/layouts/default

include ../blocks/modules/tags/tags

block variables
    - var title = "Поиск";

    include ../data/main

block content
    .container
        h1.blog-title Блог
        .blog-menu
            a.blog-menu__item.blog-menu__item_active(href="#") Все записи
            a.blog-menu__item(href="#") Идеи для путешествий
            a.blog-menu__item(href="#") Советы
            a.blog-menu__item(href="#") Маршруты
            a.blog-menu__item(href="#") Стоимость
            a.blog-menu__item(href="#") Официально
    .container
        .blog-item
            .blog-item__title Как отдохнуть вдвоем на соленых озерах за 100$ на выходные. Как отдохнуть вдвоем на соленых озерах за 100$ на выходные
            .blog-item__date 23.06.2019
            img.blog-item__image(src='img/blog.jpg')
            .blog-item__text Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием.
            a.blog-item__button Читать
        .blog-item
            .blog-item__title Как отдохнуть вдвоем на соленых озерах за 100$ на выходные. Как отдохнуть вдвоем на соленых озерах за 100$ на выходные
            .blog-item__date 23.06.2019
            img.blog-item__image(src='img/blog.jpg')
            .blog-item__text Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием.
            a.blog-item__button Читать
    .mailing
        h3.mailing__title Получать свежии публикации
        form.mailing__inner
            input.mailing__input(placeholder='Адрес электронной почты')
            a.mailing__button подписаться
        span.mailing__text Нажимая «Подписаться», вы соглашаетесь с правилами использования сервиса и обработки персональных данных.
    .container
        .blog-item
            .blog-item__title Как отдохнуть вдвоем на соленых озерах за 100$ на выходные. Как отдохнуть вдвоем на соленых озерах за 100$ на выходные
            .blog-item__date 23.06.2019
            img.blog-item__image(src='img/blog.jpg')
            .blog-item__text Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием.
            a.blog-item__button Читать
        .blog-item
            .blog-item__title Как отдохнуть вдвоем на соленых озерах за 100$ на выходные. Как отдохнуть вдвоем на соленых озерах за 100$ на выходные
            .blog-item__date 23.06.2019
            img.blog-item__image(src='img/blog.jpg')
            .blog-item__text Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием. Круглогодичная база отдыха «Дали-ВиДали» расположена на берегу Белого озера в 5 км от подножия Синюхи. Сезонных мест размещения- 40-45, круглогодичных- 30. С базы открывается прекрасный вид на гору Синюха и Белое озеро. Возле каждого дома расположены удобные беседки ( есть казаны и мангалы). На территории базы есть 2 бани и место для палаточного городка. Возможно размещение с питанием.
            a.blog-item__button Читать

