include ../../components/tag/tag

mixin searchCardMixin(cardInfo)
    a(href='#').s-card.critical.js-critical
        .s-card__img-wrap
            img(src=cardInfo.img).s-card__img
        .s-card__body
            span.s-card__title=cardInfo.title
            .s-card__subtitle-wrap
                span.s-card__subtitle=cardInfo.subtitle
                span.s-card__cost <strong>от 600</strong> ₽/чел.
                    .cost-tooltip
                        .cost-tooltip__row
                            span.cost-tooltip_span от 1200
                            span.cost-tooltip_span.cost-tooltip__span_gray ₽/номер
                        .cost-tooltip__row.cost-tooltip__row_aligh-right
                            span.cost-tooltip_span.cost-tooltip__span_red Номер
        .s-card__tags
            +tagsMixin(cardInfo.tags)

mixin searchCardsMixin(cardsList)
    for card in cardsList
        +searchCardMixin(card)