include ../../components/search-card/search-card

block content
    +tagMixin({color: 'green', text: 'На берегу'})
    +tagMixin({color: 'green', text: 'На берегу'})
    +tagMixin({color: 'green', text: 'На берегу'})
    +tagMixin({color: 'green', text: 'На берегу'})