.paginator
    a.paginator__arrow.paginator__arrow_prev(href="#")
    a.paginator__number.paginator__number_active(href="#") 1
    a.paginator__number(href="#") 2
    a.paginator__number(href="#") 3
    a.paginator__number(href="#") 4
    a.paginator__number(href="#") ...
    a.paginator__number(href="#") 25
    a.paginator__arrow.paginator__arrow_next(href="#")
