.welcome {
  padding: 0 50px;

  @include tablet {
    padding: 0 16px;
  }

  &__inner {
    background: #3066BE url("../../../img/welcome/welcome-bg.svg") no-repeat bottom;
    height: 965px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding: 128px 16px 16px;
      flex-direction: column;
      height: auto;
    }
  }

  &__btn {
    margin-left: 26px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 72px;
    width: 24px;

    &_map {
      background-image: url("../../../img/welcome/map.svg");
    }

    &_sliders {
      background-image: url("../../../img/welcome/sliders.svg");
    }
  }


}