.welcome
    .welcome__inner
        include ../../components/main-finder/main-finder
        .welcome__btn-wrap
            a(href="#").welcome__btn.welcome__btn_sliders
            a(href="#").welcome__btn.welcome__btn_map