.welcome
    .welcome__inner
        include ../../components/main-finder/main-finder
        .welcome__btn-wrap
            a(href="#").welcome__btn.welcome__btn_sliders
            a(href="#").welcome__btn.welcome__btn_map
        .welcome__scene-wrap.js-scene-wrap
            .js-scene.welcome__scene.welcome__scene_1(style="background-image:url('../img/welcome/bg1.svg')" data-speed="-1")
            .js-scene.welcome__scene.welcome__scene_2(style="background-image:url('../img/welcome/bg2.svg')" data-speed="-2")
            .js-scene.welcome__scene.welcome__scene_3(style="background-image:url('../img/welcome/bg3.svg')" data-speed="-3")
            .js-scene.welcome__scene.welcome__scene_4(style="background-image:url('../img/welcome/bg4.svg')" data-speed="-4")
