include ../utils/mixins
include ../../blocks/modules/header/header
include ../../blocks/modules/footer/footer


block variables
    include ../utils/variables

doctype html
html(lang="ru")
    head
        include ../includes/head
    body
        .wrapper
            .main-content
                +header()

                main
                    block content


            +footer()

        include ../includes/modals
        include ../includes/scripts