-
    var cards = [
        {
            size: 2,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
        {
            size: 1,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
        {
            size: 1,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
        {
            size: 2,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
        {
            size: 1,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
        {
            size: 1,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
        {
            size: 1,
            img: '/img/main-cards/card-1.jpg',
            title: 'Чемал',
            subtitle: '15 объектов'
        },
    ]