-
    var cl = 1
-
    var searchCardsArray = [
        {
            img: '/img/main-cards/card-1.jpg',
            title: 'Бухта веселого роджера',
            subtitle: 'Манжерок',
            tags:[
                {
                    text: 'На берегу',
                    color: '#219653'
                },
                {
                    text: 'Отдельный дом',
                    color: '#EB5757'
                },
                {
                    text: 'Рыбалка',
                    color: '#2F80ED'
                },
                {
                    text: 'Промо',
                    color: '#F2994A'
                }
            ]
        },
        {
            img: '/img/main-cards/card-1.jpg',
            title: 'Бухта веселого роджера',
            subtitle: 'Манжерок',
            tags:[
                    {
                        text: 'На берегу',
                        color: '#219653'
                    },
                    {
                        text: 'Отдельный дом',
                        color: '#EB5757'
                    },
                    {
                        text: 'Рыбалка',
                        color: '#2F80ED'
                    },
                    {
                        text: 'Промо',
                        color: '#F2994A'
                    }
            ]
        },
        {
        img: '/img/main-cards/card-1.jpg',
        title: 'Бухта веселого роджера',
        subtitle: 'Манжерок',
        tags:[
        {
        text: 'На берегу',
        color: '#219653'
        },
        {
        text: 'Отдельный дом',
        color: '#EB5757'
        },
        {
        text: 'Рыбалка',
        color: '#2F80ED'
        },
        {
        text: 'Промо',
        color: '#F2994A'
        }
        ]
        },
        {
        img: '/img/main-cards/card-1.jpg',
        title: 'Бухта веселого роджера',
        subtitle: 'Манжерок',
        tags:[
        {
        text: 'На берегу',
        color: '#219653'
        },
        {
        text: 'Отдельный дом',
        color: '#EB5757'
        },
        {
        text: 'Рыбалка',
        color: '#2F80ED'
        },
        {
        text: 'Промо',
        color: '#F2994A'
        }
        ]
        },
    ]