@include reset();

body {
  font-family: "Futura", sans-serif;
  color: $default-text-color;
  font-size: 18px;
  line-height: 23px;
}

html,
body {
  height: 100%;
  min-width: 360px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main-content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.container {
  @include container();
  max-width: 1200px;
}


.img-responsive {
  width: 100%;
}

body .hide {
  display: none;
}

.inner-page {
  //@include m-top(-2);
  position: relative;
}

input {
  &:active,
  &:focus {
    outline: none;
  }
}

.title-balloon {
  position: relative;
  display: inline-block;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -29px;
    left: auto;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f08340;
  }

  &-articles {
    &:before {
      background-color: #0a95dd;
    }
  }
}

.page {
  &__inner {
    display: flex;
    padding-bottom: 100px;

    @include tablet {
      flex-direction: column;
    }
  }
}

.title-date {
  position: relative;
  display: inline-block;
  padding-right: 80px;

  &:before {
    content: attr(data-title-date);
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    margin: auto auto auto 30px;
    width: auto;
    line-height: 1.2;
    padding: 5px 8px 6px;
    height: 21px;
    border-radius: 11px;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(10, 149, 221, 0.1);
    font-size: 10px;
    color: #fff;
    font-weight: 400;
  }
}


h1,
.h1 {
  font-size: 31px;
  line-height: 54px;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 24px;
  line-height: 31px;
}

h3,
.h3 {
  font-size: 19px;
  line-height: 36px;
}

h4,
.h4 {
  font-size: 14px;
  line-height: 30px;
}

h5,
.h5 {
  font-size: 12px;
  line-height: 26px;
}

h6,
.h6 {
  font-size: 9px;
  line-height: 22px;
}

.typography {
  clear: both;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #8F99A9;
  font-weight: 500;

  & h2,
  &.h2 {
    margin-top: 5px;
    margin-bottom: 20px;
  }


  & p {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 23px;
  }

  & img {
    border-radius: 6px;
    width: 100%;
    display: inline-block;
    float: left;
    margin: 0 30px 30px 0;
  }

  & .row {
    @include row-flex();
  }

  & .half {
    width: 50%;
    display: inline-block;
    float: left;
    margin: 0 30px 30px 0;
  }

  & .col-2 {
    @include size(8);
    @include col();
    margin-bottom: 40px;
  }

  & .col-4 {
    @include col();
    @include size(4);
    margin-bottom: 30px;
  }

  & .col-2-half {
    @include col();
    @include size(10);
    margin-bottom: 30px;
  }

  & .col-1-half {
    @include col();
    @include size(6);
    margin-bottom: 30px;
  }
}

.btn {
  text-decoration: none;
  background: #E26D5C;
  border-radius: 3px;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 18px;
  transition: background-color .3s ease;

  &:hover {
    background: #b45a4c;
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;

  & + label {
    position: relative;
    padding: 0 0 0 32px;
    margin: 0 0 16px 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #1D3252;
  }

  & + label:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #8F99A9;
    top: -2px;
  }

  &.error + label:before {
    box-shadow: inset 0 2px 3px rgba(183, 0, 15, 0.2);
    border: 1px solid #b70000;
  }

  &:checked + label {
    color: #E26D5C;

    &:before {
      border: 1px solid #E26D5C;
      background-color: #E26D5C;
      background-image: url("../../img/checkbox.svg");
      background-size: 12px 9px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

//datepicker

.ui-widget.ui-widget-content {
  background: #fff;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover, .ui-datepicker .ui-datepicker-next.ui-state-hover,
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  border: none;

  span {
    background: url("../../img/paginator/paginator-arrow.svg") no-repeat center center;
  }
}

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-next.ui-state-hover {
  span {
    transform: rotate(180deg);
  }
}

.welcome .ui-widget-header {
  background: #fff;
}

.welcome .ui-datepicker-calendar a.ui-state-default {
  border: 1px solid #fff;
  background: #fff;
  font-weight: 200;
  color: #1D3252;
  padding: 3px 6px;
  margin-bottom: 2px;
}

.ui-datepicker-calendar a.ui-state-active {
  background: #E26D5C;
  color: #fff;
}

.ui-datepicker-calendar th span,
.ui-datepicker-title .ui-datepicker-month,
.ui-datepicker-title .ui-datepicker-year {
  font-size: 18px;
  line-height: 21px;
  color: #1D3252;
  font-weight: 600;
}

#js-datapicker-inline .dp-highlight a.ui-state-default {
  background: #E26D5C;
  color: #FFF;
}

#js-datapicker-inline .ui-datepicker.ui-datepicker-multi {
  width: 100% !important;
}

#js-datapicker-inline .ui-datepicker-unselectable.ui-state-disabled .ui-state-default {
  background: none;
  border: none;
}

.slick-slide  {
  transition: opacity .5s ease-in-out;
}

.detail-slider_preview {
  .slick-slide  {
    opacity: 0.5;
  }

  .slick-center {
    opacity: 1;
  }

  .slick-center + .slick-active {
    opacity: 1;
  }

  .slick-center + .slick-active + .slick-active {
    opacity: 1;
  }
}
